<html>
  <head>
    {% if title %}
    <title>{{ title }} - Pi Server</title>
    {% else %}
    <title>Pi Server</title>
    {% endif %}
  </head>
  <body>
      <div>
          <img src="{{url_for('static', filename='imgs/pi_server.png')}}" width="150" height="100"></img>
          <a href="/">Home</a>
          <a href="/wifi">WIFI</a>
      </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
    {% block footer %}{% endblock %}
    <center>(c) weavebytes</center>
    <hr>
  </body>
</html>
